---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
---

<BaseLayout pageTitle="Michael Duren">
  <h2>Home Page</h2>
  <!-- client:load tells astro to send and reload its js to the client, hydrating the component -->
  <Greeting
    client:load
    messages={['Hi', 'hey guy', 'hey buddy', 'hey fwiend']}
  />
</BaseLayout>
